# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# disable directory listing
Options -Indexes

#Header set Content-Type: "text/plain"

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^\/?([^\/]*)\/?([^\/]*)\/?([^\/]*)\/?([^\/]*)\/?([^\/]*)\/?([^\/]*)\/?([^\/]*)$ ./index.php?var1=$1&var2=$2&var3=$3&var4=$4&var5=$5&var6=$6&var7=$7



</IfModule>
